
<app-toolbar></app-toolbar>
<div class="all">
  <div class="ssBody">
      <div class="header">
        <h2 class="text-center">Search Movies</h2> 
      </div>
    <div class="form-cont">
      <div class="form-row">
        <div class="col-md-1">
          <label>Keyword:</label>
        </div>
        <div class="form-group col-md-9">      
          <input type="text" [(ngModel)]="searchForm.keyword" (keyup)="checkKey($event)" name="title" class="form-control" id="inputTitle" placeholder="Keyword to search">
        </div>
        <div class="form-group col-md-2">
          <select [(ngModel)]="searchForm.whichKey" (change)="search()" required name="year" class="custom-select">
            <option value="title">Title</option>
            <option value="plot">Plot</option>
            <option value="director">Director</option>
            <option value="cast">Cast</option>
          </select>
        </div>
      </div>
      <div class="form-row">
          <div class="col-md-1">
            <label>Range:</label>
          </div>
          <div class="form-group col-md-4">
            <input type="number" [(ngModel)]="searchForm.min" (keyup)="checkKey($event)" name="title" class="form-control" placeholder="Min">
          </div>
          <div class="form-group col-md-4">
              <input type="number" [(ngModel)]="searchForm.max" (keyup)="checkKey($event)" name="title" class="form-control" placeholder="Max">
          </div>
          <div class="form-group col-md-3">
            <select [(ngModel)]="searchForm.whichRange" required name="year" class="custom-select">
              <option value="year">Year</option>
              <option value="runtime">Runtime</option>
              <option value="rating">Rating</option>
            </select>
          </div>
        </div>
    </div>
    <label>Results:</label>
    <div class="results-cont grid" *ngIf=moviesService.loadedListCompleted >
      <figure *ngFor="let movie of getResults()" class="effect-sadie all-movs">
        <img alt="{{movie.title}}"/>
        <figcaption>
          <p>{{movie.title}}</p>
          <a routerLink="/movie_preview/:{{movie.id}}" (click)="setSelectedMovie(movie.id);">View more</a>
        </figcaption>			
      </figure>
    </div>
  </div>
</div>



