
<app-toolbar></app-toolbar>
<div class="all">
  <div class="ssBody">
      <div class="header">
        <h2 class="text-center">Search Movies</h2> 
      </div>
    <div class="form-cont">
      <div class="form-row">
        <div class="col-md-1">
          <label>Keyword:</label>
        </div>
        <div class="form-group col-md-9">      
          <input type="text" [(ngModel)]="searchForm.keyword" (keyup)="checkKey($event)" name="title" class="form-control" id="inputTitle" placeholder="Keyword to search">
        </div>
        <div class="form-group col-md-2">
          <select [(ngModel)]="searchForm.whichKey" required name="year" class="custom-select">
            <option value="title">Title</option>
            <option value="plot">Plot</option>
            <option value="director">Director</option>
            <option value="cast">Cast</option>
          </select>
        </div>
      </div>
      <div class="form-row">
          <div class="col-md-1">
            <label>Range:</label>
          </div>
          <div class="form-group col-md-4">
            <input type="number" [(ngModel)]="searchForm.min" (keyup)="checkKey($event)" name="title" class="form-control" placeholder="Min">
          </div>
          <div class="form-group col-md-4">
              <input type="number" [(ngModel)]="searchForm.max" (keyup)="checkKey($event)" name="title" class="form-control" placeholder="Max">
          </div>
          <div class="form-group col-md-3">
            <select [(ngModel)]="searchForm.whichRange" required name="year" class="custom-select">
              <option value="year">Year</option>
              <option value="runtime">Runtime</option>
              <option value="rating">Rating</option>
            </select>
          </div>
        </div>
    </div>
    <label>Results:</label>
    <div class="results-cont grid" *ngIf=moviesService.loadedListCompleted >
      <figure *ngFor="let movie of getResults()" class="effect-sadie all-movs">
        <img alt="{{movie.title}}"/>
        <figcaption>
          <p>{{movie.title}}</p>
          <a routerLink="/movie_preview/:{{movie.id}}" (click)="setSelectedMovie(movie.id);">View more</a>
        </figcaption>			
      </figure>
    </div>
      <!-- <div class="container">
          <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Year</th>
                  <th scope="col">Genre</th>
                  <th scope="col">Original Language</th>
                  <th scope="col">Director</th>
                  <th scope="col">Main Cast</th>
                  <th scope="col">Rating (RT)</th>
                  <th scope="col">Nuni Aprooval</th>
                  <th scope="col">Fun Fact</th>
                  <th scope="col">Seen</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor= "let movie of getAllMovies(); let i=index">
                  <th scope="row">{{i + 1}}</th>
                  <th scope="row">{{movie.title}}</th>
                  <td>{{movie.year}}</td>
                  <td>{{movie.genres}}</td>
                  <td>{{movie.originalLanguage}}</td>
                  <td>{{movie.director}}</td>
                  <td>{{movie.mainCast}}</td>
                  <td>{{movie.rating}}</td>
                  <td>{{movie.nuniAprooval}}</td>
                  <td>{{movie.funFact}}</td>
                  <td>{{movie.seen}}</td>
                </tr>
          
              </tbody>
            </table>
      </div> -->
  </div>
</div>



