
.carousel-item {
    max-height: 300px;
}

/* .font {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
} */

.ssBody {
    /*background-color: rgba(248, 197, 43, 0.514);*/
    margin-top: -40px;
}

.dynamic-container {
    display: grid; 
    grid-template-columns: 20% 30% 20% 30%;
    grid-template-rows: 10% 10% 20%;
    grid-template-areas: 
        "first second second ."
        ". second second fourth"
        "third third . fourth"
}

.first {
    grid-area: first;
}
.second {
    grid-area: second;
}
.third {
    grid-area: third;
}
.fourth{
    grid-area: fourth;
}