
<div class="big-container">

  <div class="small-container text-center">

    <div class="login-form">
      <h1 style="font-family: 'Titan One';" class="animated rubberBand">Welcome!</h1>
      <h6>Please login to make those Movie Night's movie selection time less hectic.</h6>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userinfo.username" (keyup)="checkKey($event)" placeholder="email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="userinfo.password" (keyup)="checkKey($event)" placeholder="password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <h6>If you do not have an account, please click <a routerLink="/home" href="#">Continue as a guest.</a></h6>
      <br>
      <div style="display: flex; justify-content: center;">
        <button (click)="login()"  class="btn new-mov" type="submit" >Login</button>
        <br>
      </div>
    </div>
    
  </div>


</div>
