

<div class="grid-container">

  <div class="movie-poster">
    <img src="../../assets/movie-posters/django ver.jpg">
  </div>
  <div class="basic-info">
    <h1>{{selectedMovie.title}} ({{selectedMovie.year}})</h1>
    <h4>{{selectedMovie.genres}}</h4>
  </div>
  <div class="staff">
    <h6>{{selectedMovie.director}}</h6>
    <h6>{{selectedMovie.mainCast}}</h6>
  </div>
  <div class="reviews">
    <!-- <p>mas y mas a la vidaa</p> -->
  </div>
  <div class="movie-media">
    <img src="../../assets/movie-posters/django ver.png">
    <a>this is a link wijij</a>
  </div>


</div>
