
.grid-container {
    margin: 5px;
    margin-top: -40px;   
    display: grid; 
    background-color: #e9ecef;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 20% 20% 25% 25%;
    grid-template-areas: 
        "title title title"
        "poster staff media"
        "poster reviews media"
        "poster reviews media"
        "basic-info reviews media"
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.jumbotron{
    margin-top: -40px;
}
.title {
    grid-area: title;
    text-align: center;
    font-weight: 400;
}
.movie-poster {
    grid-area: poster;
    text-align: center !important;
    width:95%;
    height: 100%;
}
.basic-info {
    grid-area: basic-info;
}
.staff {
    grid-area: staff;
}
.reviews{
    grid-area: reviews;
}
.movie-media {
    grid-area: media;
    text-align: center;
}

img {
    max-height: 450px;
}