<br>

<div class="flex-container-row">

  <div class="new-movie-cont">
    <h2 class="text-center">Add New Movie</h2> 
    <hr>
    <form>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="inputTitle">Title</label>
          <input type="text" class="form-control" id="inputTitle" placeholder="Movie Title">
        </div>
        <div class="form-group col-md-2">
          <label for="inputYear">Year</label>
          <input type="number" class="form-control" id="inputYear" placeholder="Year">
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputGenres">Genres</label>
            <input type="text" class="form-control" id="inputGenres" placeholder="Genres">
          </div>
          <div class="form-group col-md-4">
            <label for="inputYear">Runtime (min)</label>
            <input type="number" class="form-control" id="inputYear" placeholder="Runtime">
          </div>
          <div class="form-group col-md-4">
            <label for="inputLanguage">Original Language</label>
            <input type="text" class="form-control" id="inputLanguage" placeholder="Original Language">
          </div>
      </div>
      <div class="form-group">
        <label for="inputPlot">Plot</label>
        <textarea class="form-control" id="inputPlot" placeholder="Once upon a time..."></textarea>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputDirector">Director</label>
            <input type="text" class="form-control" id="inputDirector" placeholder="Director">
          </div>
          <div class="form-group col-md-6">
            <label for="inputWriter">Writer</label>
            <input type="text" class="form-control" id="inputWriter" placeholder="Writer">
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputPlot">Main Cast</label>
          <textarea class="form-control" id="inputPlot" placeholder="Main Cast"></textarea>
        </div>
        <div class="form-group col-md-8">
          <label for="inputPlot">Fun Fact</label>
          <textarea class="form-control" id="inputPlot" placeholder="Fun fact?"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputState">RT %</label>
          <input type="number" class="form-control" placeholder="%%">
        </div>
        <div class="form-group col-md-5">
          <label for="inputZip">Consensus</label>
          <textarea rows="1" class="form-control" id="inputZip" placeholder="Rotten Tomatoes Consensus"></textarea>
        </div>
        <div class="form-group col-md-5">
          <label for="inputZip">Nuni's Review</label>
          <textarea rows="1" class="form-control" id="inputZip" placeholder="Nuni's review if seen."></textarea>
        </div>
      </div>     
      <!-- <div class="form-group">
        <label>Upload images of the movie.</label>
      </div> -->
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">Seen</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>

  <!-- <div style="border-left:5px solid gray;height:500px;"></div> -->

  <div class="modify-cont">
    <h2 class="text-center">Modify Existent</h2>
    <hr>
  <form>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="inputTitle">Title</label>
          <input type="text" class="form-control" id="inputTitle" placeholder="Movie Title">
        </div>
        <div class="form-group col-md-2">
          <label for="inputYear">Year</label>
          <input type="number" class="form-control" id="inputYear" placeholder="Year">
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputGenres">Genres</label>
            <input type="text" class="form-control" id="inputGenres" placeholder="Genres">
          </div>
          <div class="form-group col-md-4">
            <label for="inputYear">Runtime (min)</label>
            <input type="number" class="form-control" id="inputYear" placeholder="Runtime">
          </div>
          <div class="form-group col-md-4">
            <label for="inputLanguage">Original Language</label>
            <input type="text" class="form-control" id="inputLanguage" placeholder="Original Language">
          </div>
      </div>
      <div class="form-group">
        <label for="inputPlot">Plot</label>
        <textarea class="form-control" id="inputPlot" placeholder="Once upon a time..."></textarea>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputDirector">Director</label>
            <input type="text" class="form-control" id="inputDirector" placeholder="Director">
          </div>
          <div class="form-group col-md-6">
            <label for="inputWriter">Writer</label>
            <input type="text" class="form-control" id="inputWriter" placeholder="Writer">
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputPlot">Main Cast</label>
          <textarea class="form-control" id="inputPlot" placeholder="Main Cast"></textarea>
        </div>
        <div class="form-group col-md-8">
          <label for="inputPlot">Fun Fact</label>
          <textarea class="form-control" id="inputPlot" placeholder="Fun fact?"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputState">RT %</label>
          <input type="number" class="form-control" placeholder="%%">
        </div>
        <div class="form-group col-md-5">
          <label for="inputZip">Consensus</label>
          <textarea rows="1" class="form-control" id="inputZip" placeholder="Rotten Tomatoes Consensus"></textarea>
        </div>
        <div class="form-group col-md-5">
          <label for="inputZip">Nuni's Review</label>
          <textarea rows="1" class="form-control" id="inputZip" placeholder="Nuni's review if seen."></textarea>
        </div>
      </div>     
      <!-- <div class="form-group">
        <label>Upload images of the movie.</label>
      </div> -->
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" multiple>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">Seen</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>


</div>
