@media only screen and (min-width: 450px) {
    .intermediario {
        width: 60%; 
        padding: 15px;
        margin: 5px;
    }

}

@media only screen and (max-width: 449px) {
    .intermediario {
        width: 100%;
        margin: 5px;
        padding: 0px; 
    }

}

.flex-container-column {
    /* #DF744A */
    background-image: url(../../assets/backgrounds/hotint.jpg);
       /* background-color:#1C1F24; */
    width: 100% !important;
    height: 100% !important;
    background-attachment: fixed;
    margin-top: -75px;
    display: flex;
    flex-direction: column-reverse;   
    justify-content: center;
}
.new-movie-cont {
    color: white;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.modify-cont {
    color:  white;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.new-movie-cont .header {
    border-bottom: 2px #DF744A dashed;
}
.modify-cont .header {
    border-bottom: 2px #E24E42 dashed;
}

/*----------------------------------------*/
h2 {
    font-family: 'Titan One';
}

.form-group label {
    font-family: 'Lobster';
}

.new-mov {
    width: 120px;
    height: 60px;
    border-radius: 0; 
    font-family: 'Titan One'; 
    font-size: 2rem;
    background-color: #e9b000; 
    color: white; 
    border: #e9b000;
}

input {
    border-radius: 0%;
    border-color: transparent;
}

select {
    border-radius: 0%;
    border-color: transparent;
}

textarea {
    border-radius: 0%;    
    border-color: transparent;
}

#addnewimage {
    font-family:'Titan One';
    background-color: #e9b000; 
    color: white; 
    border-color: transparent;
    border-radius: 0; 
}

.preview {
    max-width: 230px;
    max-height: 230px;
    border: 10px solid rgba(255, 255, 255, 0.836);
    margin: 5px;
}
