
.flex-container-row {
    margin-top: -40px;
    display: flex;
    flex-direction: row-reverse;   
    justify-content: space-between;
    padding: 10px;
}
.new-movie-cont {
    width: 50%;
    margin: 5px;
    padding: 10px;
    border: solid 2px orangered;
    border-style: dashed;
    border-radius: 10px;
}

.modify-cont {
    width: 50%;
    margin: 5px;
    padding: 10px;
    border: solid 2px black;
    border-style: dashed;
    border-radius: 10px;
}

/*----------------------------------------*/
h2 {
    font-family: 'Titan One';
}

.form-group label {
    font-family: 'Titan One';
}
