<nav class="navbar navbar-expand-lg shadow p-3 mb-5 ">
    <div class="navbar-brand">Cinéma</div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Quick search" aria-label="Search">
        <button type="button" class="btn btn-outline-light">Search</button>
      </form>
  
      <ul class="navbar-nav mr-auto">
  
      </ul>
  
    </div>
</nav>