<nav class="navbar shadow p-3 mb-5 flex-container-row">
  <div class="flex-start flex-container-row big-screen">
    <div routerLink="/home" class="navbar-brand">JíbaraMovies</div> 
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <div class="nav-link" routerLink="/search_movies">Search</div>
      </li>
      <li *ngIf="getAccess()" style="margin-left: 10px;" class="nav-item">
        <div class="nav-link" routerLink="/modify_DB">ModifyDb</div>
      </li>
    </ul>
  </div>

  <div class="small-screen">
    <button mat-icon-button routerLink="/home" ><mat-icon>spa</mat-icon></button>
    <!-- <button mat-icon-button routerLink="/search_movies" ><mat-icon>search</mat-icon></button> -->
    <button *ngIf="getAccess()" routerLink="/modify_DB" mat-icon-button ><mat-icon>brush</mat-icon></button>
  </div>
    
  <div class="flex-end">
    <button mat-icon-button class="dropdown-toggle" [matMenuTriggerFor]="accountMenu" ><mat-icon>face</mat-icon></button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logout()" routerLink="/login">Log out</button>
    </mat-menu>
  </div>
      <!-- <form class="form-inline my-2 my-lg-0 flex-end">
        <input class="form-control mr-sm-2" type="search" placeholder="Quick search" aria-label="Search">
        <button type="button" class="btn btn-outline-light">Search</button>
        

      </form> -->
</nav>