<nav class="navbar navbar-expand-lg shadow p-3 mb-5 ">
    <div routerLink="/home" class="navbar-brand">Cinéma</div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse flex-container-row" id="navbarSupportedContent">     
      <ul class="navbar-nav flex-start">
        <li class="nav-item active">
          <div class="nav-link" routerLink="/search_movies">Search</div>
        </li>
        <li class="nav-item">
          <div class="nav-link" routerLink="/modify_DB">Modify DB</div>
        </li>
      </ul>
      <div class="flex-end">
          <button mat-icon-button class="dropdown-toggle" [matMenuTriggerFor]="accountMenu" ><mat-icon>face</mat-icon></button>
          <mat-menu #accountMenu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item routerLink="/login">Log out</button>
          </mat-menu>

      </div>
      <!-- <form class="form-inline my-2 my-lg-0 flex-end">
        <input class="form-control mr-sm-2" type="search" placeholder="Quick search" aria-label="Search">
        <button type="button" class="btn btn-outline-light">Search</button>
        

      </form> -->

    </div>
</nav>