<app-toolbar></app-toolbar>

<div class="home-container"> 
  
  <div class="welcome text-center">
    <h1 class="animated rubberBand">Movie Nights' Best Friend</h1>
    <h6>Jibara Movie Database's purpose is to make those Movie Night's movie selection time less hectic. Enjoy!</h6>
  </div>
  
  <div class="grid all-cont" *ngIf=moviesService.loadedListCompleted >

    <figure *ngFor="let movie of getAllMovWithImg()" class="effect-sadie all-movs">
      <img alt="{{movie.title}}"/>
      <figcaption>
        <p>{{movie.title}}</p>
        <a routerLink="/movie_preview/:{{movie.id}}" (click)="setSelectedMovie(movie.id);">View more</a>
      </figcaption>			
    </figure>

  </div>


</div>
