.carousel-item {
    max-height: 450px;
}

.home-container {
    margin-top: -40px;
    color: white;
    /* background: linear-gradient(to bottom right, black, darkgray); */
    background-color:#e9ecef;
}

.carousel-item img {
    max-height:450px
}

.card {
    margin: 5px;    
}

img {
    cursor: pointer;
}

