<div class="home-container"> 
  <div *ngIf=moviesService.loadedListCompleted id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" >
          <div class="carousel-item active" >
            <img routerLink="/movie_preview/:1008" (click)="setSelectedMovie('1008');" class="d-block w-100" src="../../assets/movie-posters/shutter island hor.jpg">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item top-mov" *ngFor="let top of getTop5Movies()">
              <img routerLink="/movie_preview/:{{top.id}}" (click)="setSelectedMovie(top.id);" class="d-block w-100"  alt="{{top.title}}">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{top.title}}</h5>
              </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>       
  </div>
<br>


  <div *ngIf=moviesService.loadedListCompleted class="grid" >

    <figure *ngFor="let movie of getAllMovWithImg()" class="effect-sadie all-movs">
      <img alt="{{movie.title}}"/>
      <figcaption>
        <p>{{movie.title}}</p>
        <a routerLink="/movie_preview/:{{movie.id}}" (click)="setSelectedMovie(movie.id);">View more</a>
      </figcaption>			
    </figure>
    
    
  </div>


</div>
