<div class="home-container"> 
  <div class="big-cont">
    <img src="../../assets/movie-posters/shutter island hor.jpg" alt="shutterIsland" class="image" style="width:100%">
  </div>

  <div *ngIf=moviesService.loadedListCompleted class="grid all-cont" >

    <figure *ngFor="let movie of getAllMovWithImg()" class="effect-sadie all-movs">
      <img alt="{{movie.title}}"/>
      <figcaption>
        <p>{{movie.title}}</p>
        <a routerLink="/movie_preview/:{{movie.id}}" (click)="setSelectedMovie(movie.id);">View more</a>
      </figcaption>			
    </figure>

  </div>


</div>
